/* My userChrome.css config for Firefox */
/* Note : Only works on MacOS */

/* remove addon icon in the url bar */
.urlbar-addon-page-action {
  display: none;
}

/* change font of all ui */
* {
  font-family: 'SF Pro Rounded';
}

/* tab stuff */
.tabbrowser-tab .tab-stack {
  font-size: 12px;
  font-weight: 600 !important;
  padding: 5px;
}
.tab-label-container[selected=true] {
  color: #9fc0f5;
}
#tabbrowser-tabs {
  --user-tab-rounding: 8px;
}
#TabsToolbar, #tabbrowser-tabs {
  --tab-min-height: 32px !important;
}
.tab-background {
  border-radius: var(--user-tab-rounding) !important;
}

/* url bar stuff */
#urlbar-background,#urlbar {
  border-radius: 8px !important;
}

/* one line tab and url bar */
.titlebar-buttonbox {
  transform: translate(-37.5vw, 0px) !important;
}
@media screen and (max-width: 1400px) {
  box#identity-icon-box.identity-box-button {
    display: none !important;
  }
  hbox#urlbar {
    transform: translate(10px, 0px) !important;
  }
}
@media screen and (max-width: 1200px) {
  box#identity-permission-box.identity-box-button {
    display: none !important;
  }
  hbox#urlbar {
    transform: translate(20px, 0px) !important;
  }
  hbox#urlbar-input-container {
    margin-left: 4px;
  }
}
@media screen and (max-width: 1000px) {
  hbox#urlbar {
    transform: translate(45px, 0px) !important;
  }
}

.titlebar-spacer {
  display: none !important;
}
#navigator-toolbox {
  border: 0px !important;
}
#TabsToolbar {
  margin-left: 38vw !important;
}
#nav-bar {
  background: transparent !important;
  margin-top: -50px !important;
  margin-right: 60vw !important;
  margin-left: 5vw !important;
  padding-bottom: 10px;
}
#back-button {
  display: none !important;
}
#forward-button {
  display: none !important;
}
#tracking-protection-icon-container {
  display: none !important;
}
#urlbar-container {
  min-width: 300px !important;
}
#urlbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
#page-action-buttons {
  display: none !important;
}
#PanelUI-button {
  display: none !important;
}
.unified-extensions-item {
  padding-top: 10px;
}

/* remove extention button */
#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon {
  width: 0px !important;
  padding: 0px !important;
}

/* hide account email in ui */
#appMenu-fxa-label2 #appMenu-header-description {
	display: none !important;
}

#appMenu-popup #appMenu-fxa-label2::before {
	content: 'Firefox account' !important;
}

/* add border to the whole window */
/*
#appcontent
  > #tabbrowser-tabbox
  > #tabbrowser-tabpanels
  > .deck-selected
  > .browserContainer
  > .browserStack
  > browser {
  border-radius: 8px !important;
  margin-bottom: 12px !important;
  margin-left: 12px !important;
  margin-right: 12px !important;
}
*/


/* add margin to dl button */
#downloads-button {
  margin-right: 10px !important;
}

/* modify container tab indicator */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  width: 5px !important;
  height: 5px !important;
  transform: translate(-1px, 4px) !important;
  opacity: 0.8 !important;
}

/* downloads button colour */
.toolbarbutton-1 {
  fill: #BBC3E0 !important;
}