/* My userChrome.css config for Firefox

It's recommended to copy the entire file and edit it from there as 
basically everthing here makes the UI look better.

Comments are provided for each section to help you understand what
everything generally does.

Compatibility :
- Works on MacOS
- Doesn't work on Windows (Close buttons are on the right instead of left - you could edit this to make it work.)
- Untested on Linux systems

*/


/* ------------ UI looks ------------ */
/* Change UI Font */
* {
  font-family: 'SF Pro Rounded';
}

/* Tab Styles */
.tabbrowser-tab .tab-stack {
  font-size: 12px;
  font-weight: 600 !important;
  padding: 5px;
}

.tab-label-container[selected=true] {
  color: #9fc0f5;
}

#tabbrowser-tabs {
  --user-tab-rounding: 8px;
}

#TabsToolbar,
#tabbrowser-tabs {
  --tab-min-height: 32px !important;
}

.tab-background {
  border-radius: var(--user-tab-rounding) !important;
}

/* URL Bar Styles */
#urlbar-background,
#urlbar {
  border-radius: 8px !important;
}

#urlbar[focused="true"]>#urlbar-background,
#searchbar:focus-within {
  border-color: var(--lwt-toolbar-field-border-color, #ffffff00) !important;
}

:root {
  --toolbar-field-focus-border-color: transparent !important;
}

/* Download Button Styles */
.toolbarbutton-1 {
  fill: #BBC3E0 !important;
}

/* Container Tab Indicator */
.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
  width: 5px !important;
  height: 5px !important;
  transform: translate(-1px, 4px) !important;
  background: #A6E3A1 !important;
}

/* Arc 'like' border around browser window (Disabled, but works if you want to use it.) */
/*
#appcontent > #tabbrowser-tabbox > #tabbrowser-tabpanels > .deck-selected > .browserContainer > .browserStack > browser {
	border-radius: 8px !important;
	margin-bottom: 12px !important;
	margin-left: 12px !important;
	margin-right: 12px !important;
}
*/

/* ------------ Unified URL and Tab bar ------------ */
/* Main Changes */
.titlebar-buttonbox {
  transform: translate(-37.5vw, 0px) !important;
}

#navigator-toolbox {
  border: 0px !important;
}

#TabsToolbar {
  margin-left: 38vw !important;
}

#nav-bar {
  background: transparent !important;
  margin-top: -50px !important;
  margin-right: 60vw !important;
  margin-left: 5vw !important;
  padding-bottom: 10px;
}

#urlbar-container {
  min-width: 300px !important;
}

#urlbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.titlebar-spacer {
  display: none !important;
}

/* Moving Buttons */
.unified-extensions-item {
  padding-top: 10px;
}

#downloads-button {
  margin-right: 10px !important;
}

/* Removing Buttons */
#unified-extensions-button,
#unified-extensions-button>.toolbarbutton-icon {
  width: 0px !important;
  padding: 0px !important;
}

#page-action-buttons {
  display: none !important;
}

#PanelUI-button {
  display: none !important;
}

#back-button {
  display: none !important;
}

#forward-button {
  display: none !important;
}

#tracking-protection-icon-container {
  display: none !important;
}


/* ------------ Making it Somewhat Responsive ------------ */
@media screen and (max-width: 1400px) {
  box#identity-icon-box.identity-box-button {
    display: none !important;
  }

  hbox#urlbar {
    transform: translate(10px, 0px) !important;
  }
}

@media screen and (max-width: 1200px) {
  box#identity-permission-box.identity-box-button {
    display: none !important;
  }

  hbox#urlbar {
    transform: translate(20px, 0px) !important;
  }

  hbox#urlbar-input-container {
    margin-left: 4px;
  }
}

@media screen and (max-width: 1000px) {
  hbox#urlbar {
    transform: translate(45px, 0px) !important;
  }
}